@page "/differentcounter"


<AuthorizeView Roles="Administrator,Employee">
    <Authorized>
        <h1>Counter</h1>

        <p>Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <h1>Not Authorized</h1>
        <p>
            You do not have access to this similar, but slightly different, counter.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

